#root {

  max-width: 2000px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  align-items: flex-start;
  align-content: flex-start;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}